*{
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: linear-gradient(white, gray);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parent{
    box-shadow: 0cm -0cm 3cm 0.5cm black;
    width: 14cm;
    height: 11cm;
    border-radius: 1cm;
    margin-left: 13cm;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 4cm;
}
.container{
    display: grid;
    margin-top: 1cm;
    font-size: larger;    
    row-gap: 10px;
}
span{
    font-size: 0.8cm;
}
.uName,.pass{
    height: 1cm;
    padding-left: 30px;
    border-radius: 0.5cm;
    width: 12cm;
    margin-left: 0.7cm;
    font-size: larger;
}
.loginbtn{
    width: 10cm;
    height: 1cm;
    margin-top: 0.7cm;
    border-radius: 1cm;
    font-size: larger;
    cursor: pointer;
}
.loginbtn:hover{
    border-color: aqua;
}
h5{
    margin-top: 0.5cm;
    cursor: pointer;
}